# Env
back-end/.env
front-end/.env

# Node
node_modules/
back-end/node_modules/
front-end/node_modules/

# Build
front-end/dist/
front-end/build/
back-end/dist/

# LOGS
npm-debug.log*
yarn-error.log*

# lock
back-end/package-lock.json
front-end/yarn.lock
